*{
		margin: 0; /* body上默认有8像素的margin值所以清除 */
		padding: 0;
		font-weight: normal;
		text-decoration: none;/* 清除文字装饰 */
		list-style-type: none;/* 清除列表样式 */
		font-style: normal;
}
img{
	width: 100%;
	height: 100%;
	border: 0;
}
